.popup-container {
    position: relative;
    text-align: center;
}

.popup-content {
    @apply text-slate-600 w-64 rounded-lg py-3 px-5;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.popup-button {
  @apply p-2 rounded-3xl aspect-square w-14 text-4xl font-yarndings12 duration-200;
}

.popup-button:focus {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.popup-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.popup-container:focus-within .popup-content {
    visibility: visible; 
    opacity: 1;
}

.popup-content::before {
    content: "";
    position: absolute;
    top: -20px; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px; 
    border-style: solid;
    border-color: transparent transparent #f9f9f9 transparent;
}


.menu-items {
  @apply right-2 shadow-2xl rounded-b-lg sm:text-lg text-xl;
  display: none;
  position: absolute;
  width: 125%;
  background-color: #f9f9f9;
  top: 100%; /* This should start below the label */
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  z-index: 10; /* Ensure it's above other content */
}

#menu-toggle:checked + .menu-toggle + .menu-items {
  display: block;
  transform: scaleY(1);
}

.menu-items button {
  @apply w-full flex justify-end pr-4 py-3 text-slate-600 hover:bg-slate-200;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}

.menu-toggle:hover {
  background-color: rgba(255, 255, 255, 0.4); 
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

#menu-toggle:checked + .menu-toggle {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.like-animation {
  @apply text-red-500 absolute bottom-5 right-1;
  animation: fadeMoveUp 1.5s ease forwards;
}

@keyframes fadeMoveUp {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(-30px); 
  }
}
