.messages-container {
    padding: 10px;
    background: #f4f4f8;
    border: 1px solid #ddd;
}

.message {
    @apply inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    background: lightgray;
    max-width: 50%;
}

.own {
    margin-left: auto;
    background: blue;
}

.other {
    @apply bg-red-100;
    margin-right: auto;
}

.back-button, .send-button {
    padding: 5px 10px;
    cursor: pointer;
}

.gradient-text {
    background: linear-gradient(to right, #20BDFF, #A5FECB); /* Example gradient */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Make text transparent to show the background */
}

.gradient-background {
    background: white; /* Same gradient as text */
    padding: 1rem;
}
