.likeOrNotButton {
    @apply absolute rounded-full w-40 h-40 top-1/2 flex justify-center items-center shadow-md text-7xl hover:-translate-y-4 duration-300;
}

.match-container {
    background-image: linear-gradient(180deg,#79d1f7,#A5FECB);
    background-size: cover;
}

.parameter-section {
    @apply w-[95%] py-3 pb-6 gap-3 grid pr-8;
    grid-template-columns: 35% 65%;
}

.range-slider {
    @apply h-2 w-full rounded-lg bg-gradient-to-r-main border-1;
}

.range-thumb {
    @apply bg-slate-50 hover:brightness-95 rounded-full h-3 w-3 shadow-md border-2;
}

.range-value {
    @apply absolute px-2 rounded-md text-white top-4 -translate-x-1/3;
    background-color: rgba(51, 65, 85, 0.8);
}

.range-slider-wrapper {
    @apply w-full h-full flex items-center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 70%;
    aspect-ratio: 1;
    --_c:no-repeat linear-gradient(to right, #de6262, #ffb88c) 50%; 
    background: 
      var(--_c)/100% 50%,
      var(--_c)/50% 100%;
    border-radius: 50%;
    animation: l29 2s infinite linear;
  }
  @keyframes l29 {
    100% {transform: rotate(1turn)}
  }