/* @keyframes slideInRight {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(0);
    }
}

.slide-in-right {
    position: absolute;
    top: 0;
    right: 100%;
    width: 72.5%;
    height: 100%;
    z-index: 20; 
    animation: slideInRight 5s forwards;
} */
