.page-container::-webkit-scrollbar {
    display: none;
}
.page-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 50%, rgba(0, 0, 0, 0.75) 100%);
    pointer-events: none;
}
