@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply w-screen h-screen m-0 p-0 select-none font-jersey10 overflow-x-hidden;
    max-width: 100vw;
    max-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    @apply flex w-full h-full justify-center items-center m-0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    @apply pointer-events-none;
}

@layer utilities {
    .text-gradient-main {
      @apply bg-gradient-to-r-main text-transparent bg-clip-text;
    }
  }
  
  
@font-face {
    font-family: 'Jersey10';
    src: url('/fonts/Jersey10-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey10Charted';
    src: url('/fonts/Jersey10Charted-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey15';
    src: url('/fonts/Jersey15-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey15Charted';
    src: url('/fonts/Jersey15Charted-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey20';
    src: url('/fonts/Jersey20-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey20Charted';
    src: url('/fonts/Jersey20Charted-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey25';
    src: url('/fonts/Jersey25-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Micro5Charted';
    src: url('/fonts/Micro5Charted-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yarndings12';
    src: url('/fonts/Yarndings12-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yarndings12Charted';
    src: url('/fonts/Yarndings12Charted-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yarndings20';
    src: url('/fonts/Yarndings20-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yarndings20Charted';
    src: url('/fonts/Yarndings20Charted-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JacqaurdaBastarda9Charted';
    src: url('/fonts/JacqaurdaBastarda9Charted-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.footer-anchor {
    @apply rounded-md px-1 duration-150;
}

.footer-anchor:hover {
    background-color: rgba(255, 255, 255, 0.4);
}